NetBeans_project/nbproject/private/private.xml
NetBeans_project/nbproject/private/private.properties
/NetBeans_project/dist/
/NetBeans_project/build/
NetBeans_project/vpproject/NetBeans_project.vpp
NetBeans_project/vpproject/NetBeans_project.vpp~1